.card {
    &__container {
        width: 100%;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: var(--default-shadow);
        color: #fff;
        font-family: var(--main-font);
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__header {
        &-container {
            width: 100%;
            border-radius: 15px;
            background-color: var(--main-btn-color);
            box-sizing: border-box;
            padding: 1rem 2rem;
        }

        &__user {
            &-name {
                white-space: normal;
                font-size: 2.2rem;

                @include media("<500px") {
                    white-space: normal;
                }
            }
        }

        &__creator {
            padding-top: .5rem;
            display: flex;
        }

        &__date, &__user {
            font-size: 1.3rem;
            font-style: italic;
            color: #FFBAC2;
        }

        &__date {
            padding-left: 1rem;
        }
    }

    &__content {
        font-size: 1.4rem;
        padding: 2rem;
        text-align: justify;
        box-sizing: border-box;
        color: #000;
    }

    &__social {
        &-container {
            box-sizing: border-box;
            padding: 2.5rem 2rem 2rem 2rem;
            display: grid;
            grid-template-columns: repeat(4, min-content) 1fr repeat(2, min-content);
            color: var(--dark-grey-font);

            @include media("<500px") {
                display: flex;
                flex-direction: column;
            }

            &--row, &--row-buttons {
                display: flex;
            }

            &--row-buttons {
                padding-top: 1rem;
                justify-content: space-around;
            }

            &--inner {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &-delete {
                    justify-self: right;
                }

                &-invite, &-view {
                    justify-content: flex-end;
                    padding-left: 2rem;

                    @include media("<500px") {
                        width: 100%;
                    }

                    button {
                        border: none;
                        border-radius: 15px;
                        color: #fff;
                        font-family: var(--main-font-2);
                        font-size: 1.4rem;
                        justify-self: right;
                        transition: color .2s;
                        background-color: var(--main-btn-color);
                        padding: .5rem 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        white-space: nowrap;
                        cursor: pointer;

                        @include media("<500px") {
                            padding: .5rem 2rem;
                            width: 100%;
                        }
                    }
                }

                &-invite {
                    @include media("<500px") {
                        padding-left: 2rem;
                    }
                }

                &-view {
                    @include media("<500px") {
                        padding-left: 0;
                    }
                }
            }
        }

        &-amount {
            font-style: var(--header-font);
            font-weight: 900;
            font-size: 1.6rem;
            padding-left: .5rem;
            padding-right: 1.5rem;
        }

        &-icon {
            width: 2.2rem;
            height: 2.2rem;
            transition: fill .2s;
            fill: var(--dark-grey-font);
    

            &--delete {
                width: 2.2rem;
                height: 2.2rem;
                fill: #a6a6a6;
                margin-left: 2rem;
                cursor: pointer;

                &:hover {
                    fill: var(--main-btn-color);
                }
            }
        }
    }
}