@import "./include-media.scss";
@import "./variables.scss";
@import "./auth.scss";
@import "./header.scss";
@import "./dashboard.scss";
@import "./event_card.scss";
@import "./create_event.scss";
@import "./reusable.scss";
@import "./invite-popup.scss";
@import "./event_page.scss";
@import "./comment.scss";
@import "./account_details.scss";
@import "./utilities.scss";
@import "./browse_events.scss";
@import "./footer.scss";

#root {
    height: 100%;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

html {
    font-size: 62.5%; // 1rem = 10px

    @include media(">big", "<=very-big") {
        font-size: 56.25%;
    }

    @include media(">medium", "<=big") {
        font-size: 50%;
    }

    @include media("<=medium") {
        font-size: 43.75%;
    }
}

body {
    min-height: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 0;

    @include media(">big", "<=very-big") {
        width: 75%;
    }

    @include media(">medium", "<=big") {
        width: 80%;
    }

    @include media(">small", "<=medium") {
        width: 85%;
    }

    @include media("<=small") {
        width: 95%;
    }
}

.background-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--main-background);
    background: var(--main-background-gradient);
    z-index: -1;
}